@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Geist+Pixel&family=Geist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Geist", sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background-color: rgb(10, 10, 10, 0.75);
  height: 100%;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed; // or absolute
  inset: 0;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 2rem;
}
